extends ../layouts/main-layout.pug 
block styles
  link(rel="stylesheet", href="/css/cart.css")
block content
  main
    ul.cart__item-list
        each product in products
          li.cart__item 
            //- connect quantity through cartItem
            h1 product: #{product.productId.title} 
            h2 quantity: #{product.quantity}
    .centered 
      h2 Total #{totalSum}