extends ../layouts/main-layout.pug 
block content
  main
  if orders.length > 0
    ul
      each order in orders
        li
          h1 #{order._id}
          ul 
            each product in order.item
              li #{product.title} ( #{product.quantity} )
  else
    h1 Nothing there!

    